.addPlant {
  display: flex;
  justify-content: center;
  background: var(--secondaryGreen);
  border-radius: 20%;
  padding: 1rem;
  margin: 1rem auto;
  border: none;
  box-shadow: inset 0px 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 3rem;
  height: 3rem;
  color: var(--black);
}
