.button {
  display: flex;
  justify-content: center;
  background: var(--mainYellow);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem auto;
  width: 125px;
  border: none;
  box-shadow: inset 0px 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--black);
  text-transform: uppercase;
}
