.spinner {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  animation: rotate 3s linear infinite;
  color: var(--mainYellow);
  font-size: 3rem;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
