.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto 0 auto;
  padding: 0.5rem;
  width: 75%;
  background: var(--secondaryGreen);
  border-radius: 0.5rem;
}

.labelDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.labelDiv label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
}

.labelDiv input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  background: var(--white);
  text-align: center;
}

.selector {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  background: var(--white);
  text-align: center;
}

.option {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--black);
}

.formButton {
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  background: var(--white);
  color: var(--secondaryGreen);
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  width: 185px;
}
