:root {
    --black: #0C343D;
    --secondaryYellow: #ffe599;
    --mainYellow: #FFBB25;
    --white: #F9FCFB;
    --grey: #E5E5E5;
    --letterSpacing: -0.1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: var(--black);
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }
  
.message {
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }

  .link {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .link a {
    color: var(--black);
    text-decoration: none;
  }

  .link a:hover {
    text-decoration: underline;
    color: var(--mainGreen);
  }