.pageTitle {
    display: flex ;
    justify-content: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-decoration: underline var(--mainYellow);
    text-underline-offset: 0.5rem;
    width: 70%;
}